* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body h1 {
  font-size: 1.5rem;
}

body h2 {
  font-size: 1rem;
}

body p {
  font-size: 1rem;
}

@media only screen and (min-width: 1260px) {
  body h1 {
    font-size: 1.7rem;
  }
}

.macro {
  width: 100%;
  height: 20%;
  background-color: black;
}

header {
  background-color: #000000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 7vh;
}

header img {
  width: 10vw;
  margin: 10px 0px 10px 20px;
}

header nav {
  width: 90vw;
  height: auto;
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer {
  background-color: #000000;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__activities {
  background-color: white;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin: 7px 15px;
  border-radius: 5px;
}

.footer__copyright {
  color: white;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  position: absolute;
  margin-bottom: 40px;
  bottom: 0;
  font-size: 0.5rem;
}

.main__content {
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 93vh;
}

.profile-page {
  width: 100%;
  height: 100%;
  background-color: pink;
}

.profile-page__content {
  background-color: blue;
  width: 90%;
  height: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-page__graphics {
  background-color: purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  height: 100%;
}

.profile-page__macros {
  width: 220px;
  background-color: brown;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.daily-activity {
  width: 100%;
  height: 50%;
  background-color: aqua;
}

.graphics-small {
  background-color: greenyellow;
  width: 180px;
  height: 180px;
}

.banner {
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.banner h1 {
  margin: 0px 10px 0px 0px;
  font-size: 2.5rem;
}

.banner__name {
  color: #FF0101;
}

.banner p {
  width: 100%;
}
/*# sourceMappingURL=App.css.map */