$color-primary: #FF6060;
$color-secondary: #ffffff;
$color-tertiary: #000000;

$shadow-color: rgb(182, 182, 182);

$bkg-secondary: rgb(245, 245, 245);
$bkg-footer: rgb(73, 73, 73);

$font-dark: #575757;

$title-font: 'Shrikhand', cursive;
