.average-score{
    background-color: $background-primary;
    position: relative;

    h2{
        margin: 0;
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 12px;
        font-weight: 600;
    }

    &__text{
        position: absolute;
        top:38px;
        left: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 135px;
        height: 135px;
        border-radius: 50%;
        background-color: white;
        padding: auto;

        h3{
            margin: 0;
        }

        p{
            margin: 5px 0 0 0;
            color: #74798C;
        }
    }
}