.daily-activity{
    position: relative;
    h2{
        position: absolute;
        left: 30px;
        font-size: 14px;
        margin-top: 10px;
    }

    &__legend{
        display: flex;
        position: absolute;
        right: 20px;
        top: -7px;
    }

    tspan{
        fill: #9B9EAC;
        font-size: 13px;
    }
}

.black-dot{
    margin: 5px 5px 0px 0px;
    font-size: 30px;
}

.red-dot{
    color:#FF0101; 
    margin: 5px 5px 0px 10px;
    font-size: 30px;
}

.legend-text{
    color: #74798C;
    font-size: 14px;
}

.daily-activity__custom-tooltip{
    background-color: #FF0101;
    color: white;
    padding: 4px 10px;
    text-align: center;

    p{
        font-size: 13px;
    }
    
}